@import '../vars';

.tgmd {
    position: relative;

    &-area, &-bg {
        font-family: Consolas, monaco, monospace;
        font-size: 13px;
        line-height: 18px;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 8px;

        border: 1px solid $border-color;
    }

    &-bg {
        @include noneInteractive();

        position: relative;

        white-space: pre-wrap;

        color: transparent;
        border-color: transparent;

        b {
            font-weight: bold;
        }

        b, i, u {
            color: #535353;
        }

        i {
            background-color: white;
        }
    }

    &-strike {
        text-decoration: line-through;

        color: #535353;
    }

    &-code {
        color: #446fbd;
    }

    &-link {
        color: #8757ad;
    }

    &-link-src {
        color: #e88501;
    }

    &-area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: hidden;

        resize: none;

        color: #535353;
    }

    &-area:focus + &-bg {
        i, i * {
            color: transparent;
            background-color: transparent;
        }
    }
}