<template>
    <el-upload :action="action" with-credentials :accept="accept" multiple :limit="limit" :file-list="value" :disabled="disabled" :on-success="onSuccess" :on-error="onError" :on-remove="onRemove" :headers="{'X-Requested-With':'XMLHttpRequest'}">
        <el-button type="primary" :disabled="disabled">{{title||'Click to upload'}}</el-button>
    </el-upload>
</template>
<script lang="ts">
    import { notify } from '@frontend/error-handler-mixin';
    export default {
        props: {
            action: String,
            accept: String,
            title: String,
            limit: Number,
            value: Array,
            disabled: Boolean,
        },
        data() {
            return {};
        },
        methods: {
            onRemove(_, fileList) {
                this.$emit('input', fileList);
            },
            onSuccess(resp, file, fileList) {
                file.url = resp;
                this.$emit('input', fileList);
            },
            onError(err, _, fileList) {
                notify(err);
                this.$emit('input', fileList);
            }
        }
    }
</script>